blocktime: 86400 # время (в секундах) блокировки адреса. 86400 - сутки

cleanperiod: 60  # время (в секундах) между циклами удаления блокировок
syncperiod: 10  # время (в секундах) между циклами синхронизации

blockcnt: 3     # число входящих пакетов до блокировки

ignored_ports:  # список портов которые будут проигнорированы 
    - 99999

instant_ports:  # порт для немедленной блокировки
    - 23   # честные люди на телнет не стучаться
    - 6379 # и редис не опрашивают

ignored_nets:   # список сетей для которых будут добавлены исключения
    - "127.0.0.0/16"
    - "10.1.0.0/8"
    - "192.168.0.0/16"
    - "0.0.0.0/32"
    - "172.16.0.0/12"

moncmd: "journalctl -f" # команда, вывод которой будет разбираться (вариант: dmesg -W, но он не совместим с ulogd2)

## база данных sqlite3
dbtype: "sqlite3"
db: "/var/tmp/scan2ban.db:"

## база данных pg
#dbtype: "pg"
#db: "s2b" # файл базы данных
#dbuser: "s2buser"
#dbpass: "mypass"
#dbhost: "127.0.0.1"
#dbport: 5432

## режим журналирования iptables [log|nflog]
fwlogmode: log
